* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


body {
    background: #fffdf9;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-container {
    background-color: #ffffff;
    width: 90%;
    max-width: 850px;
    padding: 45px;
    border-radius: 18px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.08);
    border-top: 6px solid #FCB53B;
}


.about-container h1 {
    text-align: center;
    margin-bottom: 25px;
    color: #AA2B1D;
    font-size: 34px;
}

.about-container h3 {
    margin-top: 30px;
    margin-bottom: 10px;
    color: #AA2B1D;
}


.about-container p {
    color: #555;
    line-height: 1.8;
    font-size: 16px;
}

.social-icons {
    margin-top: 25px;
    margin-left: -650px;
    display: flex;
    gap: 20px;
    justify-content: center;
}

.social-icons a img {
    width: 50px;
    height: 50px;
    transition: 0.3s ease;
    border-radius: 50%;
    padding: 8px;
    background: #fff4e8;
}

.social-icons a img:hover {
    transform: scale(1.15);
    background: #F3CF7A;
    /* Accent Hover */
}